body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  text-align: center;
  display: grid;
  place-items: center;
  background: linear-gradient(white, aqua);
}
form {
  background-image: url(https://i.pinimg.com/736x/75/aa/bd/75aabd322fd72ffdb6ef8ddf2d2e5fcb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 50%;
  color: aqua;
  margin-top: 100px;
}
h2 {
  text-align: center;
}
p {
  text-align: left;
  margin-left: 10px;
}
.p1 {
  background-color: rgb(102, 175, 218);
  color: white;
}
