body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  height: 100vh;
  width: 100%;
}
h2 {
  text-align: center;
  color: orange;
  border: 4px double orange;
}
.k {
  font-size: 50px;
  color: red;
}
.l {
  font-size: 50px;
  color: red;
}
h3 {
  background-color: orange;
  color: white;
  text-align: right;
}
.m {
  color: red;
}
.color {
  background-color: yellow;
}
span {
  text-align: right;
}
.center {
  text-align: center;
}
